@model CarPark.Models.DBuse

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити</h1>

<h3>Ви впевнені, що хочете запис?</h3>
<div>
    <h4>Автобус</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Бренд
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            Роки
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Years)
        </dd>
        <dt class = "col-sm-2">
            Номер
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numer)
        </dd>
        <dt class = "col-sm-2">
            Стан
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            Замітка
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BusId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад до списку</a>
    </form>
</div>
